*, *::before, *::after {
   box-sizing: border-box;
}
body {
   margin: 0;
   padding: 0;
   font-size: 16px;
   font-weight: normal;
   line-height: 1;
}
h1 {
   margin: 0;
   padding: 0;
}

.container {
   max-width: 94%;
   margin: 0 auto;
}
.bayan {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   cursor: pointer;
}

.bayan__title {
   margin-bottom: 10px;
   padding: 5px;
}

.bayan__row {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}

.bayan__row:hover + .bayan__picture {
   display: block;
}

.row-title {
   width: 100%;
   padding: 2%;
   text-align: center;
   line-height: 2em;
   background-color: #d3cccc;
   cursor: pointer;
}

.bayan__input {
   width: 0;
   height: 0;
   appearance: none;
}

.bayan__input:checked ~ .bayan__picture{
   display: block;
}

.bayan__picture {
   display: none;
}
.bayan__picture img {
   display: block;
   max-width: 100%;
}

@media (min-width:820px) {
   .row-title {
      padding: 1%;
      font-size: 1.5em;
   }
}

@media (min-width:1400px) {
   .bayan__row:hover > .bayan__row-title {
      background: aqua url(./images/double-arrow-down.png) right top no-repeat;
   }
   .bayan__row:hover > .bayan__picture {
      display: block;
   }
   .row-title {
      padding: 1%;
      font-size:2em;
   }
}