.bayan__input:checked ~ .row-title{
   color: #000;
}
.bayan__input:checked ~ .row-title .icon {
   transform: rotate(90deg);
   transition: 0.3s;
}

.bayan__picture {
   height: 0;
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s linear;
}

.bayan__input:checked ~ .bayan__picture{
   height: 100%;
   opacity: 1;
   visibility: visible;
   transition: all 0.3s linear;
}

.bayan__picture img {
   display: block;
   max-width: 100%;
}

@media (min-width:820px) {
   .container {
      max-width: 80%;
      margin: 0 auto;
   }
   .bayan__title {
      font-size: 2.5em;
   }
   .row-title {
      font-size: 1.5em;
   }
}

@media (min-width:1024px) {
   .bayan__row:hover > .row-title {
      color: #000;
      transition: 0.3s;
   }
   .bayan__row:hover > .bayan__picture {
      height: 100%;
      opacity: 1;
      visibility: visible;
      transition: all 0.3s linear;
   }
   .bayan__title {
      font-size: 3em;
   }
   .row-title {
      font-size:2em;
   }

   .icon {
      opacity: 0;
      transition: 0.3s;
   }
   .bayan__input:checked ~ .row-title .icon {
      opacity: 0;
      transition: 0.3s;
   }

   .bayan:hover > .bayan__row .row-title .icon {
      opacity: 1;
      transition: 0.3s;
   }
}